p {
  font-family: "Poppins", sans-serif;
  font-size: 23px;
  line-height: 1.6;
  margin: 30px 60px 30px 60px;
  word-wrap: break-word;
  max-width: 100%;
  color: #13315c;
  text-indent: 45px;
}

.title {
  margin: 40px 0 0 60px;
}

.box {
  padding: 20px;
  margin: 70px auto;
  border: 2px solid #13315c;
  border-radius: 15px;
  background-color: #f0f0f0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  max-width: 80%;
}

@media (max-width: 768px) {
  .box {
    max-width: 90%;
  }

  .title {
    margin-left: 80px;
  }

  p {
    margin: 30px 5px 20px 5px;
  }
}
